In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import math
import csv
import re

In [2]:
df=pd.read_csv('train.csv',escapechar = "\\", quoting = csv.QUOTE_NONE)

In [3]:
df.head()

,TITLE,DESCRIPTION,BULLET_POINTS,BRAND,BROWSE_NODE_ID
0,"Pete The Cat Bedtime Blues Doll, 14.5 Inch","Pete the Cat is the coolest, most popular cat ...","[Pete the Cat Bedtime Blues plush doll,Based o...",MerryMakers,0
1,"The New Yorker NYHM014 Refrigerator Magnet, 2 ...",The New Yorker Handsome Cello Wrapped Hard Mag...,[Cat In A Tea Cup by New Yorker cover artist G...,The New Yorker,1
2,The Ultimate Self-Sufficiency Handbook: A Comp...,NaN,Skyhorse Publishing,imusti,2
3,Amway Nutrilite Kids Chewable Iron Tablets (100),NaN,"[Nutrilite Kids,Chewable Iron Tablets,Quantity...",Amway,3
4,Teacher Planner Company A4 6 Lesson Academic T...,NaN,NaN,NaN,4

In [4]:
df.tail()

,TITLE,DESCRIPTION,BULLET_POINTS,BRAND,BROWSE_NODE_ID
2903019,Premium Aviator Sunglasses - HD Polarized (Bri...,These premium Aviator Sunglasses with 5 color ...,"[Frame size: Lens height - 56mm, Lens width - ...",Generic,1040
2903020,Social Distance Stickers - Set of 5 Sticker Sl...,set of 5 prints social distancing sticker self...,[covid19 safety sticker - set of 5 to maintain...,Generic,15199
2903021,Torr-to Face Shield PACK OF 5 with Adjustable ...,* COMPLETE FACE PROTECTION: Torr-to Face Shiel...,"[350 MICRONS PACK OF 5 PCS,COMPLETE FACE PROTE...",TORR-TO,1044933
2903022,Type-C to 3.5 MM for Oppo R17 Pro Type-C to 3....,Still want to use your favorite earphones/head...,"[Indian Connectors: Made for Indian sockets, t...",SHOPBELL,14790
2903023,KNG Orange Polo Tshirt (38),Performance inspired by comfort. The polo shir...,NaN,KNG,1213

In [5]:
df['BULLET_POINTS']

0          [Pete the Cat Bedtime Blues plush doll,Based o...
1          [Cat In A Tea Cup by New Yorker cover artist G...
2                                        Skyhorse Publishing
3          [Nutrilite Kids,Chewable Iron Tablets,Quantity...
4                                                        NaN
                                 ...
2903019    [Frame size: Lens height - 56mm, Lens width - ...
2903020    [covid19 safety sticker - set of 5 to maintain...
2903021    [350 MICRONS PACK OF 5 PCS,COMPLETE FACE PROTE...
2903022    [Indian Connectors: Made for Indian sockets, t...
2903023                                                  NaN
Name: BULLET_POINTS, Length: 2903024, dtype: object

In [6]:
df['DESCRIPTION']

0          Pete the Cat is the coolest, most popular cat ...
1          The New Yorker Handsome Cello Wrapped Hard Mag...
2                                                        NaN
3                                                        NaN
4                                                        NaN
                                 ...
2903019    These premium Aviator Sunglasses with 5 color ...
2903020    set of 5 prints social distancing sticker self...
2903021    * COMPLETE FACE PROTECTION: Torr-to Face Shiel...
2903022    Still want to use your favorite earphones/head...
2903023    Performance inspired by comfort. The polo shir...
Name: DESCRIPTION, Length: 2903024, dtype: object

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2903024 entries, 0 to 2903023
Data columns (total 5 columns):
 #   Column          Dtype
---  ------          -----
 0   TITLE           object
 1   DESCRIPTION     object
 2   BULLET_POINTS   object
 3   BRAND           object
 4   BROWSE_NODE_ID  int64
dtypes: int64(1), object(4)
memory usage: 110.7+ MB

In [8]:
df.describe()

       BROWSE_NODE_ID
count    2.903024e+06
mean     9.211321e+03
std      5.606280e+04
min      0.000000e+00
25%      7.000000e+02
50%      1.072000e+03
75%      2.546000e+03
max      2.893574e+06

In [9]:
df.shape

(2903024, 5)

In [10]:
df.size

14515120

In [11]:
df=df[df["BROWSE_NODE_ID"]<3e4].reset_index(drop = True)

In [12]:
df.describe()

       BROWSE_NODE_ID
count    2.762356e+06
mean     2.573221e+03
std      4.398589e+03
min      0.000000e+00
25%      6.300000e+02
50%      1.049000e+03
75%      2.040000e+03
max      2.998600e+04

In [13]:
df.isnull().sum()

TITLE                 70
DESCRIPTION       691287
BULLET_POINTS     154416
BRAND              52839
BROWSE_NODE_ID         0
dtype: int64

In [14]:
df['DESCRIPTION'] = df['DESCRIPTION'].fillna("no description" , axis = 0)
df['BULLET_POINTS']=df['BULLET_POINTS'].fillna('no bullet point',axis = 0)
df['BRAND']=df['BRAND'].fillna("unknown",axis = 0)

In [15]:
df.isnull().sum()

TITLE             70
DESCRIPTION        0
BULLET_POINTS      0
BRAND              0
BROWSE_NODE_ID     0
dtype: int64

In [16]:
df.dropna(inplace = True)

In [17]:
df.isnull().sum()

TITLE             0
DESCRIPTION       0
BULLET_POINTS     0
BRAND             0
BROWSE_NODE_ID    0
dtype: int64

In [18]:
df.shape

(2762286, 5)

In [19]:
a = df["TITLE"].str.split(",",n=1, expand=True)
df["TITLE"]=a[0]

In [20]:
b = df["TITLE"].str.split("(",n=1, expand=True)
df["TITLE"]=b[0]

In [21]:
c = df["TITLE"].str.split("-",n=1, expand=True)
df["TITLE"]=c[0]

In [22]:
df.head()

,TITLE,DESCRIPTION,BULLET_POINTS,BRAND,BROWSE_NODE_ID
0,Pete The Cat Bedtime Blues Doll,"Pete the Cat is the coolest, most popular cat ...","[Pete the Cat Bedtime Blues plush doll,Based o...",MerryMakers,0
1,The New Yorker NYHM014 Refrigerator Magnet,The New Yorker Handsome Cello Wrapped Hard Mag...,[Cat In A Tea Cup by New Yorker cover artist G...,The New Yorker,1
2,The Ultimate Self,no description,Skyhorse Publishing,imusti,2
3,Amway Nutrilite Kids Chewable Iron Tablets,no description,"[Nutrilite Kids,Chewable Iron Tablets,Quantity...",Amway,3
4,Teacher Planner Company A4 6 Lesson Academic T...,no description,no bullet point,unknown,4

In [23]:
df.tail()

,TITLE,DESCRIPTION,BULLET_POINTS,BRAND,BROWSE_NODE_ID
2762351,GVND 6 Pack Abs Exercise Machine with Multi Pu...,<p><strong>GVND Six pack Abs is the revolution...,[Multiple Exercise Modes: This Abdominal Train...,Gvnd,1835
2762352,Premium Aviator Sunglasses,These premium Aviator Sunglasses with 5 color ...,"[Frame size: Lens height - 56mm, Lens width - ...",Generic,1040
2762353,Social Distance Stickers,set of 5 prints social distancing sticker self...,[covid19 safety sticker - set of 5 to maintain...,Generic,15199
2762354,Type,Still want to use your favorite earphones/head...,"[Indian Connectors: Made for Indian sockets, t...",SHOPBELL,14790
2762355,KNG Orange Polo Tshirt,Performance inspired by comfort. The polo shir...,no bullet point,KNG,1213

In [24]:
d = df["DESCRIPTION"].str.split(".",n=1, expand=True)
df["DESCRIPTION"]=d[0]

In [25]:
e = df["DESCRIPTION"].str.split("/",n=1, expand=True)
df["DESCRIPTION"]=e[0]

In [26]:
f = df["DESCRIPTION"].str.split(":",n=1, expand=True)
df["DESCRIPTION"]=f[0]

In [27]:
def split_it(DESCRIPTION):
    return re.sub("^<.*>","",DESCRIPTION)

df['DESCRIPTION'] = df['DESCRIPTION'].apply(split_it)

In [28]:
df.head()

,TITLE,DESCRIPTION,BULLET_POINTS,BRAND,BROWSE_NODE_ID
0,Pete The Cat Bedtime Blues Doll,"Pete the Cat is the coolest, most popular cat ...","[Pete the Cat Bedtime Blues plush doll,Based o...",MerryMakers,0
1,The New Yorker NYHM014 Refrigerator Magnet,The New Yorker Handsome Cello Wrapped Hard Mag...,[Cat In A Tea Cup by New Yorker cover artist G...,The New Yorker,1
2,The Ultimate Self,no description,Skyhorse Publishing,imusti,2
3,Amway Nutrilite Kids Chewable Iron Tablets,no description,"[Nutrilite Kids,Chewable Iron Tablets,Quantity...",Amway,3
4,Teacher Planner Company A4 6 Lesson Academic T...,no description,no bullet point,unknown,4

In [29]:
df.tail()

,TITLE,DESCRIPTION,BULLET_POINTS,BRAND,BROWSE_NODE_ID
2762351,GVND 6 Pack Abs Exercise Machine with Multi Pu...,GVND Six pack Abs is the revolutionary new fit...,[Multiple Exercise Modes: This Abdominal Train...,Gvnd,1835
2762352,Premium Aviator Sunglasses,These premium Aviator Sunglasses with 5 color ...,"[Frame size: Lens height - 56mm, Lens width - ...",Generic,1040
2762353,Social Distance Stickers,set of 5 prints social distancing sticker self...,[covid19 safety sticker - set of 5 to maintain...,Generic,15199
2762354,Type,Still want to use your favorite earphones,"[Indian Connectors: Made for Indian sockets, t...",SHOPBELL,14790
2762355,KNG Orange Polo Tshirt,Performance inspired by comfort,no bullet point,KNG,1213

In [30]:
df['BULLET_POINTS'][0]

'[Pete the Cat Bedtime Blues plush doll,Based on the popular Pete the Cat books by James Dean,Super cuddly and ready for naptime and bedtime,Safe for all ages, perfect for ages 2 and up,Measures 14. 5 inches]'

In [31]:
g = df["BULLET_POINTS"].str.split(".",n=1, expand=True)
df["BULLET_POINTS"]=g[0]

In [32]:
h = df["BULLET_POINTS"].str.split("/",n=1, expand=True)
df["BULLET_POINTS"]=h[0]

In [33]:
i = df["BULLET_POINTS"].str.split(":",n=1, expand=True)
df["BULLET_POINTS"]=i[0]

In [36]:
j = df["BULLET_POINTS"].str.split(",",n=1, expand=True)
df["BULLET_POINTS"]=j[0]

In [41]:
k= df["BULLET_POINTS"].str.split("-",n=1, expand=True)
df["BULLET_POINTS"]=k[0]

In [42]:
df['BULLET_POINTS'][0]

'Pete the Cat Bedtime Blues plush doll'

In [43]:
def split_it1(BULLET_POINTS):
    return re.sub("\[","",BULLET_POINTS)

df['BULLET_POINTS'] = df['BULLET_POINTS'].apply(split_it1)

In [44]:
df.head()

,TITLE,DESCRIPTION,BULLET_POINTS,BRAND,BROWSE_NODE_ID
0,Pete The Cat Bedtime Blues Doll,"Pete the Cat is the coolest, most popular cat ...",Pete the Cat Bedtime Blues plush doll,MerryMakers,0
1,The New Yorker NYHM014 Refrigerator Magnet,The New Yorker Handsome Cello Wrapped Hard Mag...,Cat In A Tea Cup by New Yorker cover artist Gu...,The New Yorker,1
2,The Ultimate Self,no description,Skyhorse Publishing,imusti,2
3,Amway Nutrilite Kids Chewable Iron Tablets,no description,Nutrilite Kids,Amway,3
4,Teacher Planner Company A4 6 Lesson Academic T...,no description,no bullet point,unknown,4

In [45]:
df.tail()

,TITLE,DESCRIPTION,BULLET_POINTS,BRAND,BROWSE_NODE_ID
2762351,GVND 6 Pack Abs Exercise Machine with Multi Pu...,GVND Six pack Abs is the revolutionary new fit...,Multiple Exercise Modes,Gvnd,1835
2762352,Premium Aviator Sunglasses,These premium Aviator Sunglasses with 5 color ...,Frame size,Generic,1040
2762353,Social Distance Stickers,set of 5 prints social distancing sticker self...,covid19 safety sticker,Generic,15199
2762354,Type,Still want to use your favorite earphones,Indian Connectors,SHOPBELL,14790
2762355,KNG Orange Polo Tshirt,Performance inspired by comfort,no bullet point,KNG,1213

In [ ]:
# ------------------------------------------------------------------------------------------------------------ #